.productTitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: -0.02em;
}
.lightwidget__tile {
  padding: 0 !important;
}

@media only screen and (max-width: 991px) {
  .Card {
    width: 100%;
  }
  .lightwidget__tile {
    flex-basis: 0 !important;
  }
}

@media screen and (max-width: 576px) {
  .productTitle {
    font-size: 20px;
    line-height: 30px;
  }
}
.widget {
  padding: 0;

  height: 100%;
  width: 100%;
}
